@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 47 77% 97%;
    --foreground: 20 6% 5%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 21.9%;
    --primary: 20 6% 90%;
    --primary-foreground: 0 0% 4%;
    --secondary: 20 6% 50%;
    --secondary-blue-300: 202 94%, 37%;
    --secondary-neutral-300: 0 0% 86%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --icon-greetings-hand: 0 0% 90%;
    --icon-storybook: 340 100% 64%;
    --icon-instagram: 278, 52%, 68%;
    --icon-linkedin: 200 98% 39%;
    --icon-youtube: 0 91% 71%;
    --icon-github: 0 0% 0%;
    --icon-twitter: 203 89% 53%;
    --icon-yellow-200: 60 100% 65%;
    --icon-cyan-200: 202 94% 57%;
    --icon-white: 0 0% 100%;

    --radius: 0.5rem;

    font-family: var(--font-sans);
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}
